@font-face {
    font-family: 'Heebo';
<<<<<<< HEAD
    src: url(./Fonts/Heebo-Bold.woff2) format( 'woff2' );
=======
    src: url(./Fonts/Heebo-Bold.woff2) format('woff2');
>>>>>>> refs/remotes/origin/main
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
<<<<<<< HEAD
    src: url(./Fonts/Heebo-Light.woff2) format('woff2');
=======
    src: url(./Fonts/Heebo-Regular.woff2) format('woff2');
>>>>>>> refs/remotes/origin/main
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yantramanav';
    src: url(./Fonts/Yantramanav-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

.square {
    display: block;
    width: 200px;
    height: 200px;
    background-color: aqua;
    border: 1px solid #444444;
}